<div class="mb-5 pt-3">
        <a href="/dashboard/create/"><button id="create-post" class="button is-primary is-pulled-right">Create post</button></a>
        
        <h2 class="title pb-4">Your Posts</h2><hr>
{{#if posts.length}}
    </div>

    {{#each posts as |post|}}
        <div class="card mb-6">
  <header class="card-header card-header-title has-background-grey-lighter">
    
        <div class="column">
            <p class=" has-text-primary-light"></p>
      <a href="/post/{{id}}"  class="has-text-black is-capitalized is-pulled-left">{{title}} </a></p>
      </div>

      <div class="column">
      <span class=""> </span>
      </div>
    
  </header>

    <div class="card-content">
        <div class="content has-text-justified">
            {{post_content}}
        </div>
            <div class="is-pulled-right">
                <b>{{user.username}}</b> | 
                 | {{format_date created_at}} | <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
            </div>
        
    </div>
        
            <a href="/dashboard/edit/{{post.id}}"><button class="button mb-5 ml-5 is-warning">Edit Post</button></a>
        </div>
    {{/each}}

{{else}}
<h6 class="pb-4 has-text-centered is-italic">No Posts</h6>

{{/if}}