{{#if posts.length}}

    {{#each posts as |post|}}
    <div class="card post-card">
  <header class="card-header">
    <div class="column">
      <a class="post-link-text" href="/post/{{id}}">{{title}} </a></p>
    </div>
  </header>

    <div class="card-content">
        <div class="content">
            {{post_content}}
        </div>
            <div class="card-content">
                <b>{{user.username}}</b> | 
                 | {{format_date created_at}} | <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
            </div>
    </div>
        
            <a href="/dashboard/edit/{{post.id}}"><button id="edit-post" class="button">Edit Post</button></a>
        </div>
    {{/each}}

{{else}}
<h6 class="pb-4 has-text-centered is-italic">No Posts</h6>

{{/if}}